.header {
  max-width: 880px;
  height: 74px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.7);
}

@media (min-width: 623px) and (max-width: 914px) {
  .header {
    max-width: 590px;
  }
}

@media (min-width: 320px) and (max-width: 622px) {
  .header {
    height: 56px;
    margin: 28px auto 42px;
  }
}