.profile__info {
  max-width: 366px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

@media (min-width: 320px) and (max-width: 622px) {
  .profile__info {
    max-width: 189px;
    display: grid;
    grid-template-columns: 100% 1fr;
    row-gap: 5px;
    column-gap: 7px;
    justify-items: center;
    margin-top: 22px;
  }
}